@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   font-family: Quicksand;
}
.container{
    width: 400px;
    margin: 0 auto;
    background:linear-gradient(135deg, #e66465, #9198e5);
    text-align: center;
    margin-top: 60px;
    border-radius: 15px;
    margin-bottom: 30px;

}
.search{
    margin-bottom:75px ;
}
input{
    padding:10px 10px;
    border-radius: 20px;
    border: none;
    margin-top: 40px;
    width:270px;
    
}

#search{
  width: 10px;
}
button{
    padding: 10px 10px;
    margin-top: 30px;
    border-radius: 100px;
    border:none;
    margin-left: 10px;
   
}
#weather{
    width: 150px;
}
.weather{
    color: white;
    font-weight:bold;
    font-size: 40px;
    margin-bottom: 60px;
}
.temperature{
    font-size: 75px;
    text-align: center;
}
.condition{
    display: flex;
    justify-content: space-around;
    font-size:15px;
    color: white; 
    
}
#condition{
    width: 30px;
    margin-left: 60px;
    margin-bottom: 45px;
}
span{
    font-size:24px;

}

