*{
    font-family: 'plugins', sans-serif;
    box-sizing: 0;
    margin: 0;
    padding: 0;
}
.calculatorapp{
    padding: 40px 30px;
    width:400px;
    height:650px;
    background-color: rgb(19, 18, 18);
    color: #ffff;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 60px;

    
}
.calculatorarea{
    margin: 150px 40px;
}
.buttons{
    display:grid;
    grid-template-columns: repeat(4,0.5fr);
    gap:30px; 
    text-align: center;
    font-size: 25px;
}
div .key{
    border-radius:50px;
    background-color:#404040;
    padding: 25px 10px;
    cursor: pointer;
}
#firstset{
    background-color: #a7a5a5;
    color: black;
}
#secondset{
    background-color: #f28c28 ;
}

