*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
 body{
    background-color: rgb(58, 56, 56);
 }

.container{
    max-width: 400px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 25px 35px;
    background-color:#ffff;
    border-radius: 10px;
}